.main
  .main__up
    .main__up__menu
      マニュアル一覧
    .main__up__sarch
      検索窓
    .main__up__create
      新しくマニュアルをつくる
  .main__down
    .main__down__item
      唐揚げの作り方
    .main__down__rider
      責任者：大橋
  .main__icon
  .main__text
    %ul
      %li
        ①くっつかないように一つづつ入れる
      %li
        ②加熱時間6分
      %li
        ③必ず一番大きいものを切って火の通りを確認する
