*{
  box-sizing: border-box;
}

.wrapper{
  .side{
  width: 300px;
  height:100Vh;
  background-color: #253141;
  float: left;
  color: rgb(139, 139, 139);

  &__up{
    background-color:blue;
    height : 100px;
    // padding: 0 80px;
    
    &__box{
      height: 100px;
      display: flex;
      padding: 0 80;
      align-items: center;
      font-size: 50px;
      
    }
  }


  &__down{
    height: calc(100Vh - 100px);
    background-color: darkblue;
    padding: 0 80px;
    font-size: 30px;
  }
  }

  .main{
  width: calc(100vw - 300px);
  height: 100vh;
  float: left;

  &__up{
  height: 100px;
  padding: 0 40px;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
    &__menu{
      // margin-top: 20px;
      font-size: 30px;
    }
    &__sarch{
      display: flex;
      font-size: 30px;
    }
    &__create{
      font-size: 30px;
    }
  }

  &__down{
    // height: calc(100Vh - 100px);
    background-color: white;
    display: flex;
    justify-content: space-between;
    
    &__item{
      font-size:30px;
      justify-content: center;
    }
    &__rider{
    }    
  }
  &__icon{
    background-image:url(karaage.jpg);
    width: 900px;
    height: 500px;
    // background-position: center;
    // background-size: contain; //width, heightと同じになる
    background-repeat: no-repeat;
    object-fit: cover;
  }
  &__text{
    font-size: 30px;
  }
  }
}